.no-style ul {
    list-style-type: none;
}

.plus ul {
    list-style-type: none;
}
.plus li:before {
    content: "+";
    margin-right: 4px;
}

.minus ul {
    list-style-type: none;
}
.minus li:before {
    content: "-";
    margin-right: 4px;
}
